
/* --------------global-----------------  */

body {
    background-color: rgba(255, 255, 255, 0.758);
    padding: 0px;
    margin: 0vw 3vw;
}

h2 {
    font-size: 40px;
    text-decoration: underline solid black;
    text-shadow: 2px 2px whitesmoke;
}


/* --------------navbar-----------------  */
.navbar {
    clear: both;
    color: #000;
    padding: 0.75vw 0.75vw; /*内部间距*/
    border-radius: 100px;
    display: flex; /*flex弹性布局*/
    flex-direction: row;
    flex-wrap: nowrap; /*空间不够 也不换行*/
    justify-content: center; /*居中布局*/
    justify-content: space-around; /*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。*/
    background: black;
}

.navbar a {
    color: white;
    display: block;
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}

main {
    padding-bottom: 0px;
}

/* ----------header------------ */

.logo {
    margin: 0 auto;
    padding: 2vh 4vw 5vw 4vw;
}

.logo img{
    align-items: center;
    justify-content: center;
}

/* -------------discount--------------- */
.discount img {
    width: 100%;
}
/* -------------discount--------------- */


/* ---------------Home--------------- */

.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*空间不够 也不转行*/
    justify-content: center;
    justify-content: space-around; /*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。*/
}

.home .threeColumns {
    /*inline: 元素不会单独占据一行，只能设置水平方向的边距 */
    display: inline-flex; /*内联元素 弹性布局*/
    width: 30%;
    height: 450px;
    flex-direction: column; /*改变主轴方向 为 纵轴*/
    padding: 12px;
    margin: 5px 5px;
    border-radius: 30px;
    background-color: bisque;
}

.threeColumns p {
    font-family: 'Kaushan Script', cursive;
}

.threeColumns h6 {
    font-size: 25px;
    padding: 0px 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.threeColumns img {
    align-self: center;
    padding: 0px 0px;
    width: 95%;
    height: 250px;
}


/* -------------about--------------- */
.about {
    background-color: bisque;
    padding-bottom: 40px;
}

.about h2 {
    padding-top: 40px;
    text-align: center;
}

.about p {
    margin: 0px 2vw;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Kaushan Script', cursive;
}

/* -------------------Menu-------------  */
.menu{
    width: 100%;
    background-color: bisque;
    padding-bottom: 40px;
    text-align: center;
}

.menu h2{
    padding-top: 40px;
}

.menu p{
    margin: 0px 2vw;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Kaushan Script', cursive;
}


/* -------------------Book-------------  */
.book{
    width: 100%;
    background-color: bisque;
    padding-bottom: 40px;
    text-align: center;
}

.book h2{
    padding-top: 40px;
}

.book p{
    margin: 0px 2vw;
    font-size: 20px; /*字体大小*/
    line-height: 40px; /*文本之间的高度*/
    font-family: 'Kaushan Script', cursive;
}


/* -------------footer----------------- */
footer {
    display: flex;
    justify-content: space-between; /* 两端对齐，项目之间的间隔都相等。*/
    margin-top: 1rem; /*外部边距*/
    background-color: gainsboro; /* 设置页脚背景颜色 */
    color: #fff; /* 设置文本颜色 */
    padding: 20px;
}

/* 左栏样式 */
.footer-left {
    flex: 1; /* 左栏占据可用空间的一半 */
}

.footer-left img{
    width: 40px; /*左栏当中图标的大小*/
}

/* 右栏样式 */
.footer-right {
    flex: 1; /* 右栏占据可用空间的一半 */
    text-align: right; /* 文本右对齐 */
    border-top: #000 solid 2px;
}

.footer-right p{
    color: #000; /*右栏字体的颜色*/
    font-family: 'Kaushan Script', cursive;
}


@media screen and (max-width:1110px) {
    .navbar {
        justify-content: space-around; /*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。*/
        flex-wrap: wrap; /*用来定义如果一条轴线排不下，如何换行。 wrap: 排不下 就换行*/
    }
}

@media screen and (max-width:750px) {
    .navbar {
        justify-content: space-around; /*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。*/
        flex-wrap: wrap; /*用来定义如果一条轴线排不下，如何换行。 wrap: 排不下 就换行*/
    }
}
